#templateStructure .selected, #templateColorTheme .selected {
	background-color:white;
}
/*
.t3-icon-document-save-close {
	background-image:url(ext-icons/document-save-close.png)!important;
}
.t3-icon-document-new {
	background-image:url(ext-icons/document-new.png)!important;
}
.t3-icon-document-open {
	background-image:url(ext-icons/document-open.png)!important;
}
.t3-icon-edit-delete {
	background-image:url(ext-icons/document-open.png)!important;
}
.t3-icon-document-view {
	background-image:url(ext-icons/document-view.png)!important;
}
.t3-icon-system-backend-user-emulate {
	background-image:url(ext-icons/system-backend-user-emulate.png)!important;
}
.t3-icon-edit-delete {
	background-image:url(ext-icons/edit-delete.png)!important;
}
.t3-icon-system-list-open {
	background-image:url(ext-icons/system-list-open.png)!important;
}
.t3-icon-pagetree-backend-user {
	background-image:url(ext-icons/pagetree-backend-user.png)!important;
}
.t3-icon-text-html {
	background-image:url(ext-icons/text-html.png)!important;
}
.typo3-csh-icon{
	background-image:url(ext-icons/system-help-open.png)!important;
}*/