div.template-item-wrap {
	width:150px;
	height:100px;
	float:left;
	padding:2x;
	margin:10px;
}
div.template-item-wrap .thumb {
	padding:10px;
}

div.template-item-wrap small {
	text-align:right;
	display:block;
	position:relative;
	top:-12px;
	left:7px;
	background-color:white;
	border:1px solid #DADADA;
	opacity:0.8;
}
div.template-item-selected {
	background-color:#DADADA;
}
div.template-item-selected small{
	background-color:green;
	color:white;
}

/**
 * Ext JS Bugfixes
 */
 
.x-box-inner {
	overflow:visible;
}

.sitemgr_template-constdisplayfield {
	line-height: 1.5em;
	margin:      5px;
	margin-top:  4px;
}

.x-form-field-readonly {
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}


.sitemgr-template-previewimage {
	padding: 5px;
	margin: 5px;
	border: 1px solid gray;
	float: left;
}
.sitemgr-template-previewimage img {
	max-width: 156px;
}